<section class="pd">
    <h4>Pipes Demo</h4>

    <div>
        {{str}}  <br />
        {{str|lowercase}} <br />
        {{str|uppercase}} <br />
        {{str|titlecase}} <br />
    </div>
    
    <div>
        {{num}} <br /> 
        {{num|number:'8.6-8'}} <br />
        {{num|number:'4.0-0'}} <br />
        {{num|number:'5.2-2'}} <br />
        {{num|number:'4.2-4'}} <br />
    </div>

    <div>
        {{num}} <br /> 
        {{num|currency:'INR'}} <br />
        {{num|currency:'USD'}} <br />
        {{num|currency:'GBP'}} <br />
        {{num|currency:'JYN'}} <br />
        {{num|currency:'AUD'}} <br />
        {{num|currency:'XYZ'}} <br />
    </div>

    <div>
        {{dt}}  <br />
        {{dt|date:'short'}} <br />
        {{dt|date:'long'}} <br /> 
        {{dt|date:'dd-MM-yy'}} <br />
        {{dt|date:'dd-MMM-yyyy'}}  <br />
        {{dt|date:'dd-MMMM-yyyy'}} <br />
        {{dt|date:'dd-MMM-yyyy hh:mm:ss aa'}} <br />
        {{dt|date:'dd-MMM-yyyy HH:mm:ss'}} <br />
    </div>

    <div>
        {{num}} <br />
        {{num|inWords}} <br />
        
    </div>
</section>
