.greet{
    background-color: #aaffaa;
}

.bordered{
    border:2px solid black;
}

.centered{
    display: block;
    margin:auto;
}

.rounded{
    border-radius: 90%;
}

.greet div{
    margin-bottom: 5px;
}