<div class="col-10 mx-auto">
    <h3>Account Holders</h3>

    <p *ngIf="!ahs && !errMsg" class="alert alert-info p-2">
        <strong>Data being loaded, please wait....</strong>
    </p>

    <p *ngIf="errMsg" class="alert alert-danger p-2">
        <strong>{{errMsg}}</strong>
    </p>

    <p *ngIf="ahs && ahs.length==0" class="alert alert-info p-2">
        <strong>No data available to display</strong>
    </p>

    <div class="row row-cols-1 row-cols-md-3 g-2" *ngIf="ahs && ahs.length>0">
        <app-account-holder-details 
            *ngFor="let x of ahs" 
            class="col" 
            (delAccount)="del($event)"
            [ah]="x">
        </app-account-holder-details>
    </div>
</div>